
<h1>New Game</h1>
<div class = "letters">
  <% @letters.each do |letter|  %>
  <li> <%= letter %> </li>
  <% end %>
</div>

<h3>What is the longest word you can find?</h3>
<form action="score" method="POST">
  <input type="text" name="letter">
  <input type="submit" value="Play">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
